@media screen and (min-width: 1025px) {
.main-wrapper {
	-webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}
}
@media screen and (max-width: 1024px) {
.main-wrapper {
	border-style: solid;
	border-width: 0px;
}
}
*, *:before, *:after {
	-moz-box-sizing: padding-box;
}
*, *:before, *:after {
	-moz-box-sizing: padding-box;
}
