/* -----------------------------------------
:: THUMBNAIL CAROUSEL
----------------------------------------- */
.main-wrapper {
	margin-top: -30px;
}

/* BACKGROUND COLORS */
.product-carousel-bg {
	background: url('../../../../Site/graphics/wood-panel.jpg') center center;
	padding: 50px 0px 50px 0px;
}
#myCarousel.carousel a.right {
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.0) 100%);
}
#myCarousel.carousel a.left {
    background-image: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.0) 100%);
}
.carousel {
    z-index:999;
}
/* FONT STYLES */
#myCarousel .thumbnails p {
	text-align: center;
	margin-top: 0px;
	font-weight: normal;
	font-size: 16px;
}
.thumbs {
	margin-top: 0px;
}
#myCarousel.carousel div.carousel-inner div.item ul.thumbnails li.col-lg-2 p {
	line-height: 0px;
	padding: 0px;
}
.carousel-control {
    font-size: 80px;
}

/* Media Queries */
@media screen and (max-width: 767px) {
.product-carousel-bg {
	background: none;
}
.container.product-carousel-bg {
	margin: 0px;
	padding: 0px;
}
#myCarousel .thumbnails p {
	padding: 0px;
	margin-top: 0px;
	color: #222222;
	font-weight: normal;
	font-size: 12px;
}
.col-lg-2:first-child {
	visibility: hidden;
	display: none;
}
.col-lg-2:last-child {
	visibility: hidden;
	display: none;
}
}
